.card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  min-height: 250px;
}
.card > .card-img-top {
  opacity: 1;
  transform: scale(1);
  transition: all 0.4s;
}
.card > .card-body {
  position: absolute;
  bottom: -100%;
  transition: all 0.4s;
  width: 100%;
  padding: 0.5rem;
  background: white;
}
.card:hover > .card-img-top {
  opacity: 0.8;
  transform: scale(1.1);
  transition: all 1s;
}
.card:hover > .card-body {
  bottom: 0%;
  transition: all 0.4s;
}
